$mainColor: #444;
$mainDarkColor: #2a2a2a;
$mainDarkBgColor: #333;
$lightBgColor: #f2f2f2;
$secondaryColor: #c79d4b;

$textColor: #333;
$mainTextColor: #444;
$secondTextColor: #777;
$secondaryTextColor: #c79d4b;

$scrollBar: 5px;
$fullWidthScreen: calc(100vw - $scrollBar);