$mainColor: #444;
$mainDarkColor: #2a2a2a;
$mainDarkBgColor: #333;
$lightBgColor: #f2f2f2;
$secondaryColor: #61c008;

$textColor: #333;
$mainTextColor: #444;
$secondTextColor: #777;
$secondaryTextColor: #61c008;
$bgGrayColor: #eee;
$colorTextLight: #ccc;
$colorLightGray: #ffffff80;
$colorLightSecond: #999;

$scrollBar: 5px;
$fullWidthScreen: calc(100vw - $scrollBar);