* {
  box-sizing: border-box;
}

body,
ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav--top {
  background-color: #444;
  padding: 0 15px 0 15px;
}

.nav-top-list {
  color: #61c008;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  text-transform: uppercase;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .nav-top-list {
    justify-content: center;
  }
}
.nav-top-list a {
  padding: 4px 0 4px 0;
  transition: color 0.3s;
}
.nav-top-list a:hover {
  color: #fff;
}

.masthead {
  padding: 20px 15px;
  width: calc(100vw - 5px);
}
.masthead__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .masthead__container {
    flex-direction: column;
    gap: 40px;
  }
}
.masthead__containerOfContacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.masthead__containerOfContacts > :last-child {
  margin-left: 40px;
}
@media (max-width: 1024px) {
  .masthead__containerOfContacts {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
.masthead__borderRight {
  border-right: 1px solid rgba(0, 0, 0, 0.1019607843);
  padding-inline: 90px 40px;
}
@media (max-width: 768px) {
  .masthead__borderRight {
    border-right: none;
  }
}
.masthead__titleContact {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
}
.masthead__subtitleContact {
  color: #333;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
}
.masthead__subtitleContact--tel {
  transition: color 0.3s;
}
.masthead__subtitleContact--tel:hover {
  color: #61c008;
}

.logo {
  width: 160px;
  height: 110px;
  margin: 0 auto;
  overflow: hidden;
}
.logo > img {
  width: 230px;
  height: 200px;
  object-position: -35px -38px;
}

.button {
  color: #444;
  font-size: 15px;
  line-height: 45px;
  font-weight: bold;
  display: block;
  height: max-content;
  background-color: #61c008;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s;
}
.button:hover {
  color: white;
  background-color: #444;
}
.button--spin {
  position: relative;
}
.button--spin::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #685e5e;
  border-top-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.button--spin::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.7019607843);
  border-radius: 5px;
}
.button--center {
  margin: 0 auto;
}
.button--exp {
  background-color: #fff;
}
.button__link {
  padding-inline: 30px;
  text-align: center;
}

.icon {
  position: relative;
}
.icon::before {
  content: "";
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: -72px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon--tel::before {
  content: "";
  background-image: url(./images/icons/phone.svg);
}
.icon--schedule::before {
  content: "";
  background-image: url(./images/icons/clock.svg);
}

.mainHeader {
  position: relative;
  background-image: url(./images/house/large-house.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 475px;
}
.mainHeader__shaddow {
  position: absolute;
  inset: 0;
  background-color: rgba(17, 17, 17, 0.5803921569);
  -webkit-box-shadow: inset 0px 0px 73px 26px rgb(92, 89, 92);
  -moz-box-shadow: inset 0px 0px 73px 26px rgb(92, 89, 92);
  box-shadow: inset 0px 0px 73px 26px rgb(92, 89, 92);
}
.mainHeader__container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}
.mainHeader__containerNavInfo {
  padding-inline: 15px;
  position: absolute;
  bottom: 160px;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin: 0 auto;
}
.mainHeader__Maintitle {
  color: #fff;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 5px;
}
.mainHeader__blockNavShowWhereYouAre {
  color: #ccc;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  display: flex;
  gap: 15px;
}
@media (max-width: 480px) {
  .mainHeader__blockNavShowWhereYouAre {
    flex-direction: column;
  }
}
.mainHeader__pagesContainer {
  display: flex;
  gap: 28px;
}
.mainHeader__previosPage {
  color: #61c008;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
  position: relative;
}
.mainHeader__previosPage:hover {
  border-bottom-color: #61c008;
}
.mainHeader__previosPage::after {
  content: ">";
  position: absolute;
  right: -20px;
}

.mainNav {
  transition: all 0.7s;
  position: relative;
}
@media (max-width: 768px) {
  .mainNav {
    display: block;
    height: 60px;
    padding: 0;
    background-color: rgba(98, 95, 92, 0.4901960784);
    overflow: hidden;
  }
}
.mainNav--stick {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
@media (max-width: 768px) {
  .mainNav--stick {
    background-color: hsla(0, 0%, 100%, 0.9);
  }
}
.mainNav--stick .mainNav__wrapper {
  background-color: hsla(0, 0%, 100%, 0.9);
}
.mainNav--stick .mainNav__homeLink {
  background-image: url(./images/icons/homeSecondColor.svg);
}
.mainNav--stick .mainNav__link {
  color: #444;
}
.mainNav--stick .mainNav__link--active {
  color: #61c008;
}
.mainNav--stick .mainNav__wrapperAfterContainer {
  background-color: transparent;
}
.mainNav__wrapperAfterContainer {
  display: flex;
  padding-bottom: 10px;
  background-color: rgba(50, 50, 50, 0.6784313725);
  position: relative;
  z-index: 2;
}
.mainNav__wrapperAfterContainer > :last-child {
  flex-grow: 1;
}
.mainNav__wrapperBorder {
  border: 1px solid transparent;
}
@media (max-width: 768px) {
  .mainNav__wrapperBorder {
    border: none;
  }
}
.mainNav__wrapperBorder--bottom {
  border-bottom-color: rgba(255, 255, 255, 0.452);
}
.mainNav__wrapperBorder--right {
  border-right-color: rgba(255, 255, 255, 0.452);
}
.mainNav__wrapperLinksAndSocial {
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  .mainNav__wrapperLinksAndSocial {
    flex-direction: column;
    padding-top: 15px;
    opacity: 0;
  }
}
.mainNav__wrapperLinksAndSocial--active {
  opacity: 1;
}
.mainNav__homeLinkWrapper {
  padding-top: 18px;
  padding-inline: 10px;
}
.mainNav__homeLink {
  height: 50px;
  width: 50px;
  background-image: url(./images/icons/homeSecondColor.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 115px 115px;
  transition: all 0.3s;
}
.mainNav__homeLink--active {
  background-image: url(./images/icons/homeSecondColor.svg);
}
@media (max-width: 768px) {
  .mainNav__homeLink {
    display: none;
  }
}
.mainNav__homeButton {
  display: none;
  padding: 2px 5px 5px 5px;
  transition: all 0.3s;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 165, 0, 0.168627451);
  border-radius: 5px;
}
@media (max-width: 768px) {
  .mainNav__homeButton {
    display: block;
  }
}
.mainNav__homeButton:hover {
  scale: 110%;
}
.mainNav__homeButton--active {
  right: 50px;
  padding: 5px 5px 5px 5px;
}
.mainNav__homeButton--active > :first-child {
  rotate: 45deg;
  transform: translate(3px, 2px);
}
.mainNav__homeButton--active > :nth-child(2) {
  border-bottom-color: transparent;
}
.mainNav__homeButton--active > :last-child {
  rotate: -45deg;
  transform: translate(3px, -5px);
}
.mainNav__homeButton span {
  display: block;
  width: 20px;
  height: 5px;
  border-bottom: 1px solid white;
  transition: all 0.3s;
}
.mainNav__homeButton--stick {
  background-color: #f2f2f2;
}
.mainNav__homeButton--stick span {
  border-bottom-color: black;
}
.mainNav__listOfLinks {
  display: flex;
}
@media (max-width: 768px) {
  .mainNav__listOfLinks {
    flex-direction: column;
  }
}
.mainNav__listOfLinks--propServices {
  flex-direction: column;
  gap: 5px;
}
.mainNav__listOfLinks--propServices .mainNav__link {
  color: #333;
  font-size: 15px;
  line-height: 1.1;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #ccc;
  padding: 15px;
  position: relative;
  max-width: 230px;
}
.mainNav__listOfLinks--propServices .mainNav__link--active {
  background-color: #61c008;
}
.mainNav__listOfLinks--propServices .mainNav__link:hover {
  scale: none;
  color: #333;
  background-color: #61c008;
}
.mainNav__listOfLinks--propServices .mainNav__link::after {
  content: ">";
  color: #333;
  font-size: 15px;
  line-height: 1.1;
  font-weight: 500;
  position: absolute;
  right: 10px;
  top: 15px;
  bottom: 0;
}
.mainNav__link {
  padding-block: 25px;
  margin-inline: 16px;
  color: white;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .mainNav__link {
    padding-block: 5px;
    margin-inline: 16px;
  }
}
.mainNav__link:hover {
  color: #61c008;
  scale: 105%;
}
@media (max-width: 768px) {
  .mainNav__link:hover {
    translate: 15px 0;
    scale: 100%;
  }
}
.mainNav__link--active {
  color: #61c008;
}
.mainNav__link--mobileHome {
  display: none;
}
@media (max-width: 768px) {
  .mainNav__link--mobileHome {
    display: block;
  }
}

.socialLinks {
  padding-inline: 10px;
}
@media (max-width: 1024px) {
  .socialLinks {
    display: none;
  }
}
@media (max-width: 768px) {
  .socialLinks {
    display: block;
  }
}
.socialLinks--stick .socialLinks__link {
  background-color: rgba(0, 0, 0, 0.1);
}
.socialLinks--stick .socialLinks__link--fb {
  color: rgba(0, 0, 0, 0.3);
}
.socialLinks--stick .socialLinks__link--fb:hover {
  color: rgb(0, 0, 0);
}
.socialLinks--stick .socialLinks__link--i {
  background-image: url(./images/icons/instagramGrayColor.svg);
}
.socialLinks--stick .socialLinks__link--i:hover {
  background-image: url(./images/icons/instagram.svg);
}
.socialLinks__list {
  display: flex;
  margin-top: 24px;
  gap: 14px;
}
.socialLinks__link {
  display: block;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  transition: all 0.3s;
}
.socialLinks__link:hover {
  background-color: #61c008;
}
.socialLinks__link--fb {
  color: #444;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  text-indent: 8px;
}
.socialLinks__link--i {
  background-image: url(./images/icons/instagram.svg);
  background-position: -10px -5px;
  background-repeat: no-repeat;
  background-size: 52px 52px;
}

.main__section--greyBg {
  background-color: #eee;
}
.main__section--grey2Bg {
  background-color: #f2f2f2;
}
.main__section--darkBg {
  background-color: #2a2a2a;
}
.main__section--p50 {
  padding: 50px 15px;
}
.main__section--projects {
  padding: 50px 15px 0 15px;
}

.section__services {
  display: flex;
  gap: 30px;
}
@media (max-width: 768px) {
  .section__services {
    flex-direction: column;
  }
}
.section__servicesTitleInfo {
  background-color: white;
  padding: 30px 15px;
  max-width: 300px;
  height: fit-content;
  margin: 0 auto;
}
.section__servicesBlock {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 960px) {
  .section__servicesBlock {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 480px) {
  .section__servicesBlock {
    grid-template-columns: auto;
  }
}
.section__wrapService {
  height: 100%;
  width: 100%;
  max-width: 306px;
  min-width: 180px;
  background-color: #fff;
  border-radius: 10px;
}
.section__wrapService > .service {
  height: fit-content;
}
.section__serviceInfoText {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  margin: 20px;
}
.section__buttonService {
  margin: 0 20px 20px 20px;
}
.section__serviseTitle {
  color: #333;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 20px;
}
.section__serviseTitle > span {
  font-weight: bold;
}
.section__serviseLines {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 15px;
}
.section__servicesLineShort {
  height: 2px;
  width: 60px;
  border-bottom: 1px solid #61c008;
}
.section__servicesLinelong {
  height: 2px;
  min-width: 60px;
  border-bottom: 1px solid #f2f2f2;
  flex-grow: 1;
}
.section__serviceSubtitle {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 20px;
}
.section__wrapperExp {
  padding: 70px 15px;
}
.section__titleExp {
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 400;
  display: block;
  margin-block-end: 20px;
}
.section__subtitleExp {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
  max-width: 500px;
  margin: 0 auto 40px;
}
.section__blockExp {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}
@media (max-width: 768px) {
  .section__blockExp {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 480px) {
  .section__blockExp {
    grid-template-columns: auto;
  }
}
.section__wrapperCommonQuestion {
  display: grid;
  grid-template-columns: minmax(100px, 40vw) auto;
  gap: 20px;
}
@media (max-width: 768px) {
  .section__wrapperCommonQuestion {
    display: block;
  }
}
.section__logoWrapper {
  height: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .section__logoWrapper {
    margin-bottom: 20px;
    height: 150px;
  }
  .section__logoWrapper > img {
    display: block;
    height: 278px;
    margin: 0 auto;
    object-position: 0 -66px;
  }
}
.section__qTitle {
  color: #333;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 20px;
}
.section__qsubtitle {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 25px;
}
.section__wrapperListDown {
  display: flex;
  gap: 15px;
  cursor: pointer;
  padding-block-start: 15px;
  border-bottom: 1px solid #777;
}
.section__wrapperListDown--open .section__responceLD {
  margin-bottom: 20px;
  height: max-content;
}
.section__iconLD {
  display: block;
  width: 25px;
  height: 25px;
  border: 2px solid #61c008;
  border-radius: 50%;
  color: #61c008;
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
  padding: 2px 0 0 4px;
}
.section__questionListDown {
  color: #333;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 20px;
}
.section__responceLDwrapper {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.section__responceLD {
  color: #777;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}
.section__wrapperContact {
  display: flex;
  gap: 15px;
  padding: 50px 15px;
}
@media (max-width: 768px) {
  .section__wrapperContact {
    flex-direction: column;
    gap: 50px;
  }
}
.section__CTitle {
  color: #333;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  margin: 30px 0 20px 0;
}
.section__CinfoWhoWeAre {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 50px;
}
.section__COurBenefitsList {
  display: flex;
  gap: 15px;
}
@media (max-width: 480px) {
  .section__COurBenefitsList {
    flex-direction: column;
  }
}
.section__Cicon {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section__Cicon--clock {
  background-image: url(./images/icons/clock.svg);
}
.section__Cicon--files {
  background-image: url(./images/icons/files.svg);
}
.section__Cicon--users {
  background-image: url(./images/icons/users.svg);
  background-size: 51px;
  background-position: -18px -15px;
}
.section__CBenefitNum {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-block: 10px;
  margin-block-end: 10px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.3490196078);
}
.section__CBenefitNum > p {
  color: #333;
  font-size: 24px;
  line-height: 1.8;
  font-weight: 400;
}
.section__CBenefitTextInfo {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
}
.section__formWrapper {
  border: 10px solid #f2f2f2;
  padding: 30px;
}
.section__titleForm {
  color: #333;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 20px;
}
.section__descriptionForm {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 20px;
}
.section__wrapperAbout {
  padding: 30px 15px;
}
.section__citeAbout {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  background-color: #f2f2f2;
  padding: 15px 10px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto 30px;
  border-radius: 10px;
}
.section__AItemWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .section__AItemWrapper {
    flex-direction: column;
  }
}
.section__infoAbout {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
}
.section__titleAbout {
  color: #61c008;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  min-width: 180px;
}
.section__PTitleBlock {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}
.section__Ptitle {
  color: black;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 400;
}
.section__PSeeMore {
  padding: 3px 8px;
  border: 1px solid #61c008;
  border-radius: 5px;
  cursor: pointer;
}
.section__PSeeMoreLink {
  color: #61c008;
  font-size: 19px;
  line-height: 1.1;
  font-weight: 400;
  transition: all 0.3s;
}
.section__PSeeMoreLink:hover {
  color: #333;
}
.section__subtitleContact {
  color: #61c008;
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
  transition: all 0.3s;
}
.section__subtitleContact:hover {
  color: #333;
}
.section__subtitleSchedule {
  color: #333;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  display: block;
  margin-top: 15px;
}
.section__CwhoWeAre--min {
  min-width: 250px;
}

.service {
  display: flex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  max-width: 306px;
  min-width: 180px;
}
.service__shaddow {
  position: absolute;
  inset: 0;
  cursor: pointer;
  transition: all 0.3s;
  background-color: rgba(51, 52, 51, 0.3803921569);
}
.service__shaddow:hover {
  background-color: rgba(17, 17, 17, 0.3);
  -webkit-box-shadow: inset 0px 0px 73px 26px rgb(92, 89, 92);
  -moz-box-shadow: inset 0px 0px 73px 26px rgb(92, 89, 92);
  box-shadow: inset 0px 0px 73px 26px rgb(92, 89, 92);
}
.service__shaddow:hover .service__title {
  color: #61c008;
}
.service__title {
  color: white;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 400;
  position: absolute;
  display: block;
  padding: 20px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: all 0.3s;
}
.service__title > span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.service__imgBlock {
  height: 100%;
  width: 100%;
}
.service__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  padding: 55px 15px 55px 15px;
  background-color: #2a2a2a;
}
.footer__wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
  }
  .footer__wrapper > :first-child {
    grid-column: 1/3;
  }
}
@media (max-width: 480px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
.footer__logo {
  width: 150px;
  height: 80px;
  background-color: rgb(172, 206, 206);
  margin: 0 auto;
}
.footer__aboutUs {
  max-width: 300px;
}
.footer__titleAboutUs {
  color: white;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer__blockLines {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.footer__blockLines > :last-child {
  flex-grow: 1;
}
.footer__shortLine {
  display: block;
  border-bottom: 3px solid #61c008;
  height: 1px;
  width: 35px;
}
.footer__longLine {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
  height: 1px;
}
.footer__textAboutUs {
  margin-bottom: 20px;
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
}
.footer__contact {
  align-self: flex-start;
}
@media (max-width: 480px) {
  .footer__contact {
    align-self: center;
    min-width: 300px;
  }
}
.footer__subtitleContact {
  color: #ccc;
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
  transition: all 0.3s;
}
.footer__subtitleContact:hover {
  color: #fff;
}
.footer__subtitleSchedule {
  color: #ccc;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  display: block;
  margin-top: 15px;
}

.experienceCard {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.031372549);
}
.experienceCard--quote {
  background-color: #61c008;
}
.experienceCard--quote .experienceCard__icon {
  background-image: url(./images/icons/cubeWhite.svg);
}
.experienceCard--quote .experienceCard__title {
  text-transform: uppercase;
}
.experienceCard__icon {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto 25px;
  background-image: url(./images/icons/cube.svg);
  background-position: -8px -6px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
.experienceCard__title {
  color: #fff;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 25px;
}
.experienceCard__info {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
}

.form > textarea, .form > select, .form > input {
  color: #333;
  font-size: 15px;
  line-height: 1.1;
  font-weight: 400;
  width: 100%;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.0509803922);
  border: 1px solid rgba(0, 0, 0, 0.0588235294);
  padding: 10px;
  border-radius: 2px;
  transition: all 0.3s;
  display: block;
}

.form > textarea:hover, .form > select:hover, .form > input:hover {
  -webkit-box-shadow: 7px 7px 21px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 21px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 21px -12px rgba(0, 0, 0, 0.75);
}

.form > textarea:focus, .form > select:focus, .form > input:focus {
  outline: none;
  border-color: #61c008;
  background-color: #fff;
}

.form {
  display: block;
}
.form > input:first-child {
  margin-bottom: 0;
}
.form > input:nth-of-type(2) {
  margin-bottom: 0;
}
.form > input::placeholder {
  color: #777;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
}
.form > select {
  color: #777;
  cursor: pointer;
}
.form > select::placeholder {
  color: #777;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
}
.form > select > option {
  color: #777;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
}
.form > select:focus {
  background-color: rgba(0, 0, 0, 0.0509803922);
}
.form > textarea {
  height: 100px;
  resize: none;
}
.form > textarea::placeholder {
  color: #777;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
}
.form > textarea::-webkit-scrollbar {
  width: 5px;
}
.form > textarea::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}
.form > textarea::-webkit-scrollbar-track {
  background: rgba(164, 185, 196, 0.2745098039);
}
.form__requiredField {
  margin-block-end: 15px;
  margin-inline-start: 10px;
  color: red;
  font-size: 13px;
  line-height: 1.1;
  font-weight: 400;
}
.form__requiredFieldWrapper {
  height: 0;
  overflow: hidden;
  margin-bottom: 15px;
  transition: all 0.3s;
}

.success, .error {
  position: fixed;
  top: 90px;
  right: -180%;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s;
  user-select: none;
}

.error {
  background-color: rgba(225, 125, 125, 0.6705882353);
  color: red;
  font-size: 25px;
  line-height: 1.8;
  font-weight: 900;
}
.error--active {
  right: 20px;
}

.success {
  background-color: rgba(160, 225, 125, 0.6705882353);
  color: #00742f;
  font-size: 25px;
  line-height: 1.8;
  font-weight: 900;
}
.success--active {
  right: 20px;
}

@media (max-width: 960px) {
  .projects {
    display: grid;
    grid-template-columns: 150px auto;
  }
}
.projects__nav {
  padding-inline: 10px;
  border-bottom: 2px solid #eee;
}
.projects__navList {
  display: flex;
  gap: 20px;
}
@media (max-width: 960px) {
  .projects__navList {
    flex-direction: column;
    gap: 10px;
  }
}
.projects__link {
  color: #999;
  font-size: 15px;
  line-height: 1.8;
  font-weight: bold;
  min-width: 99px;
  text-align: center;
  padding-block: 15px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  bottom: 0;
}
.projects__link:hover {
  border-bottom: 2px solid #61c008;
  color: #333;
}
.projects__link--active {
  border-bottom: 2px solid #61c008;
  color: #333;
}
.projects__items {
  padding-block: 15px;
  border-bottom: 2px solid #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.projects__item {
  display: flex;
  max-width: 280px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  min-width: 180px;
  height: 100%;
  max-height: 180px;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.projects__shaddow {
  position: absolute;
  inset: 0;
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0;
}
.projects__shaddow:hover {
  background-color: rgba(30, 30, 30, 0.7803921569);
  opacity: 1;
}
.projects__title {
  color: white;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  display: block;
  padding: 10px 0 0 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.projects__title:hover {
  color: #61c008;
}
.projects__imgBlock {
  height: 100%;
  width: 100%;
}
.projects__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projects__type {
  color: #ccc;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  display: block;
  padding-inline: 10px;
}
.projects__button {
  color: white;
  font-size: 15px;
  line-height: 1.1;
  font-weight: 400;
  border: 2px solid white;
  padding: 10px 8px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  right: 15px;
  transition: all 0.3s;
}
.projects__button:hover {
  border-color: #61c008;
  background-color: #61c008;
  color: black;
}

.propServices {
  display: grid;
  grid-template-columns: 250px auto;
  gap: 15px;
}
@media (max-width: 768px) {
  .propServices {
    grid-template-columns: auto;
  }
}
@media (max-width: 768px) {
  .propServices__first {
    display: none;
  }
}
.propServices__overview {
  display: flex;
  gap: 30px;
}
@media (max-width: 960px) {
  .propServices__overview {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
}
.propServices__imgBlock {
  width: 50vw;
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  margin: 0 auto 10px;
}
.propServices__imgBlock > img {
  width: 100%;
  height: 100%;
}
.propServices__title {
  color: #333;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 20px;
}
.propServices__subtitle {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 30px;
}
.propServices__listOfOptions {
  color: #777;
  font-size: 15px;
  line-height: 2.5;
  font-weight: 400;
}
.propServices__listOfOptions > ::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  transform: translate(-10%, 35%);
  background-image: url(./images/icons/cube.svg);
  background-position: -8px -6px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
.propServices__middleText {
  color: #61c008;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  padding-block: 30px;
  margin-block: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.propServices__blockReady {
  display: flex;
  gap: 15px;
}
@media (max-width: 960px) {
  .propServices__blockReady {
    flex-direction: column;
  }
}
.propServices__ready {
  background-color: #61c008;
  padding: 30px;
  min-width: 300px;
  max-width: 400px;
}
@media (max-width: 960px) {
  .propServices__ready {
    min-width: 100px;
  }
}
.propServices__titleready {
  color: #fff;
  font-size: 28px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 20px;
}
.propServices__subtReady {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}
html::-webkit-scrollbar-track {
  background: rgba(79, 118, 138, 0.4784313725);
}

/*# sourceMappingURL=style.css.map */
