.mainHeader {
  position: relative;
  background-image: url(./images/house/large-house.jpg);
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 475px;

  &__shaddow {
    position: absolute;
    inset: 0;
    background-color: #11111194;
    -webkit-box-shadow: inset 0px 0px 73px 26px rgba(92,89,92,1);
    -moz-box-shadow: inset 0px 0px 73px 26px rgba(92,89,92,1);
    box-shadow: inset 0px 0px 73px 26px rgba(92,89,92,1);
  }

  &__container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }

  &__containerNavInfo {
    padding-inline: 15px;
    position: absolute;
    bottom: 160px;
    left: 0;
    right: 0;

    max-width: 1200px;
    margin: 0 auto;
  }

  &__Maintitle {
    @include text(#fff, 40px, 400, 1.1);
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  &__blockNavShowWhereYouAre {
    @include text($colorTextLight, 15px, 400, 1.8);
    display: flex;
    gap: 15px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__pagesContainer {
    display: flex;
    gap: 28px;
  }

  &__previosPage {
    color: $secondaryTextColor;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    position: relative;
    text-transform: capitalize;

    &:hover {
      border-bottom-color: $secondaryTextColor;
    }

    &::after {
      content: '>';
      position: absolute;
      right: -20px;
    }
  }

  &__currentPage {
    text-transform: capitalize;
  }
}