.main {
  &__section {
    &--greyBg {
      background-color: $bgGrayColor;
    }

    &--darkBg {
      background-color: $mainDarkColor;
    }

    &--p50 {
      padding: 50px 15px;
    }

    
  }
}