$borderRad: 20px;

.modal {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  top: 0;
  transition: visibility .1s, opacity .1s;

  &--open {
    visibility: visible;
    opacity: 1;
  }


  &__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #011e01e0;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
  }

  &__block {
    border-radius: $borderRad;
    background-color: white;
    padding: 15px;
    position: relative;
    transition: all .3s;

  }

  &__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    cursor: pointer;


    &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 32px;
      height: 32px;
      border-bottom: 3px solid #ffffff96;
      border-right: 3px solid #ffffff96;
      transition: all .2s;
    }

    &:hover::after {
      scale: 110%;
      border-color: $secondaryColor;   
    }

    &--prev {
      left: 0;

      &::after {
        content: '';
        transform: rotate(135deg);
        translate: 50% -50%;
        left: 20px;
      }

      &:hover::after {
        translate: 30% -50%;
      }
    }

    &--next {
      right: 0;

      &::after {
        content: '';
        transform: rotate(-45deg);
        translate: -50% -50%;
        right: 20px;
      }

      &:hover::after {
        translate: -30% -50%;
      }
    }
  }

  &__close {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #cf0e0ea3;
    background-color: #cf0e0ea3;
    top: -22px;
    right: -22px;
    z-index: 5;
    transition: scale .3s;

    &:hover {
      scale: 1.1;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      height: 3px;
      border-radius: 5px;
      background-color: white;
      rotate: 45deg;
      translate: -2px -2px;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      height: 3px;
      border-radius: 5px;
      background-color: white;
      rotate: -45deg;
      translate: -2px -2px;
    }
  }

  &__wrapperImages {
    transition: all .3s;

  }

  &__wrapperImagesFull {
    transition: all .3s;

  }

  &__fakeImg {
    max-width: 860px;
    max-height: 500px;
    width: 80vw;
    height: 50vw;
  }

  &__spin {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: $borderRad;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s;
    min-height: 50vw;
    min-width: 50vw;


    &--active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__spiner {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #685e5e;
    border-top-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1s linear infinite;
  }

  &__img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: $borderRad;
  }
}