.nav-top-list {
  @include text($secondaryColor);
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  text-transform: uppercase;
  flex-wrap: wrap;

  @include tablet {
    justify-content: center;
  };

  & a {
    &:hover {
      color: #fff;
    }

    padding: 4px 0 4px 0;
    transition: color 0.3s;
  }
}