.section {
  &__services {
    display: flex;
    gap: 30px;

    @include tablet {
      flex-direction: column;

      // & > :first-child {
      //   flex-grow: 1;
      // }
    }
  }

  &__servicesTitleInfo {
    background-color: white;
    padding: 30px 15px;
    max-width: 300px;
    height: fit-content;
    margin: 0 auto;
  }

  &__servicesBlock {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    align-items: center;
    justify-content: center;

    @include xtablet {
      grid-template-columns: auto auto;
    }

    @include mobile {
      grid-template-columns: auto;
    }
  }

  &__wrapService {
    height: 100%;
    width: 100%;
    max-width: 306px; 
    min-width: 180px; 
    background-color: #fff;
    border-radius: 10px;

    & > .service {
      height: fit-content;
    }
  }

  &__serviceInfoText {
    @include text($secondTextColor, 15px, 400, 1.8);
    margin: 20px;

  }

  &__buttonService {
    margin: 0 20px 20px 20px;
  }

  &__serviseTitle {
    @include text($textColor, 30px, 500, 1.2);
    margin-bottom: 20px;

    & > span {
      font-weight: bold;
    }
  }

  &__serviseLines {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 15px;
  }

  &__servicesLineShort {
    height: 2px;
    width: 60px;
    border-bottom: 1px solid $secondaryColor;
    
  }

  &__servicesLinelong {
    height: 2px;
    min-width: 60px;
    border-bottom: 1px solid $lightBgColor;
    flex-grow: 1;
  }

  &__serviceSubtitle {
    @include text($secondTextColor, 15px, 400, 1.8);
    margin-bottom: 20px;
  }

  // exp

  &__wrapperExp {
    padding: 70px 15px;
  }

  &__titleExp {
    text-align: center;
    @include text(#fff, 30px, 400, 1.1);
    display: block;
    margin-block-end: 20px;
  }

  &__subtitleExp {
    @include text($colorLightGray, 15px, 400, 27px);
    text-align: center;
    max-width: 500px;
    margin: 0 auto 40px;
  }

  &__blockExp {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;

    @include tablet {
      grid-template-columns: auto auto;
    }

    @include mobile {
      grid-template-columns: auto;
    }
  }

  // commonQuest

  &__wrapperCommonQuestion {
    display: grid;
    grid-template-columns: minmax(100px, 40vw) auto;
    gap: 20px;

    @include tablet {
      display: block;
    }
  }

  &__logoWrapper {

    height: 100%;
    overflow: hidden;

    @include tablet {
      margin-bottom: 20px;
      height: 150px;

      & > img {
        display: block;
        height: 278px;
        margin: 0 auto;
        object-position: 0 -66px;
      }
    }
  }

  &__qTitle {
    @include text($textColor, 24px, 400, 1.1);
    margin-bottom: 20px;
  }

  &__qsubtitle {
    @include text($secondTextColor, 15px, 400, 1.8);
    margin-bottom: 25px;
  }

  &__down-list {

  }

  &__wrapperListDown {
    display: flex;
    gap: 15px;
    cursor: pointer;
    padding-block-start: 15px;
    border-bottom: 1px solid $secondTextColor;

    &--open {
      .section {
        &__responceLD {
          margin-bottom: 20px;
          height: max-content;
        }
      }
    }
  }

  &__iconLD {
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid $secondaryColor;
    border-radius: 50%;
    @include text($secondaryColor, 24px, 600, 20px);
    padding: 2px 0 0 4px;
  }

  &__questionListDown {
    @include text($mainDarkBgColor, 16px, 400, 1.8);
    margin-bottom: 20px;
  }

  &__responceLDwrapper {
    height: 0;
    overflow: hidden;
    transition: all .3s;
  }

  &__responceLD {
    @include text($secondTextColor, 15px, 400, 27px);
    margin-bottom: 0;
    transition: all .3s ease-in-out;
  }

  // wrapper contact

  

  &__wrapperContact {
    display: flex;
    gap: 15px;
    padding: 50px 15px;

    @include tablet {
      flex-direction: column;
      gap: 50px;
    }
  } 

  &__CwhoWeAre {
    
  }

  &__CTitle {
    @include text($textColor, 24px, 400, 1.1);
    margin: 30px 0 20px 0;
  }

  &__CinfoWhoWeAre {
    @include text($secondTextColor, 15px, 400, 1.8);
    margin-bottom: 50px;
  }

  &__COurBenefitsList {
    display: flex;
    gap: 15px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__Cicon {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &--clock {
      background-image: url(./images/icons/clock.svg);
    }

    &--files {
      background-image: url(./images/icons/files.svg);
    }

    &--users {
      background-image: url(./images/icons/users.svg);
      background-size: 51px;
      background-position: -18px -15px;
    }
  }

  &__CBenefitNum {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-block: 10px;
    margin-block-end: 10px;
    border-bottom: 1px solid #77777759;

    & > p {
      @include text($textColor, 24px, 400, 1.8);
    }
  }

  &__CBenefitTextInfo {
    @include text($secondTextColor, 15px, 400, 1.8);
  }

  &__formWrapper {
    border: 10px solid $lightBgColor;
    padding: 30px;

  }

  &__titleForm {
    @include text($textColor, 24px, 400, 1.1);
    margin-bottom: 20px;
  }

  &__descriptionForm {
    @include text($secondTextColor, 15px, 400, 1.8);
    margin-bottom: 20px;
  }


  // section about 
  &__wrapperAbout {
    padding: 30px 15px;
  }

  &__citeAbout {
    @include text($secondTextColor, 15px, 400, 1.8);
    background-color: $lightBgColor;
    padding: 15px 10px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto 30px;
    border-radius: 10px;
  }

  &__aboutBlock {
    & > {
      margin-bottom: 20px;
    }
  }

  &__AItemWrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    @include tablet {
      flex-direction: column
    }
  }

  &__infoAbout {
    @include text($secondTextColor, 15px, 400, 1.8);
  }

  &__titleAbout {
    @include text($secondaryTextColor, 24px, 400, 1.1);
    min-width: 180px;
  }

// projects

  &__PTitleBlock {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__Ptitle {
    @include text(black, 30px, 400, 1.1);
  }

  &__PSeeMore {
    padding: 3px 8px;
    border: 1px solid $secondaryColor;
    border-radius: 5px;
    cursor: pointer;
  }

  &__PSeeMoreLink {
    @include text($secondaryTextColor, 19px, 400, 1.1);
    transition: all .3s;

    &:hover {
      color: $textColor;
    }
  }

  &__subtitleContact {
    @include text($secondaryTextColor, 15px, 400, 2);
    transition: all .3s;

    &:hover {
      color: $textColor;
    }
  }

  &__subtitleSchedule {
    @include text($textColor, 15px, 400, 1.8);
    display: block;
    margin-top: 15px;
  }

  &__CwhoWeAre--min {
    min-width: 250px;
  }



  // section project

  &__wrapperProject {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 20px;

    @include tablet {
      grid-template-columns: auto;
    }
  }

  &__titleProject {
    @include text($textColor, 24px, 400, 1.1);
    margin-bottom: 20px;
  }

  &__blockOfInfo {
    @include text($secondTextColor, 15px, 400, 32px);
    margin-bottom: 30px;
  }

  &__infoText {
    color: black;

    & > span {
      text-transform: capitalize;
    }
  }

  &__itemWrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid $secondaryColor;
  }

  &__iconProject {
    padding-right: 10px;
    border-right: 1px solid $secondaryColor;

    & > span {
      display: block;
      width: 32px;
      height: 32px;
      background-image: url(./images/icons/cube.svg);
      background-position: -4px -1px;
      background-repeat: no-repeat;
      background-size: 40px 40px;
    }
  }

  &__subtitleInfoProject {
    @include text($secondTextColor, 15px, 400, 32px);
  }

  &__imagesProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    height: fit-content;

    & > div {
      max-width: 280px;
      min-width: 180px;
      min-height: 180px;
      height: 100%;
      max-height: 280px;
      width: 100%;
      overflow: hidden;
    }

    & img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }
}

